<div class="promo-banners">
  <div class="container">
    <div class="banner">
      <img src="assets/images/ban1.png" alt="Banner 1">
      <div class="caption">
        <h4>10% Back</h4>
        <p>Earn 10% Cash back on Swootech. Learn How</p>
      </div>
    </div>
    <div class="banner">
      <img src="assets/images/ban2.png" alt="Banner 2">
      <div class="caption dark">
        <h4>Download our app</h4>
        <p>Enter your phone number and we'll send you a download link.</p>
        <div class="send-link">
          <input type="text" placeholder="(+xx) xxx...">
          <button>send link</button>
        </div>
      </div>
    </div>
  </div>
</div>
